<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Draft Layout</title>
  </head>
  <body>
    <!-- login-->
    <section>
      <div class="row justify-content-center p-5" style="margin-top: 120px;">
        <div class="w-25 border shadow-lg">
          <h1 class="text-center pt-5">Kanban</h1>
          <h4 class="text-center" style="color: rgb(112, 110, 110)"><b>Login</b></h4>
          <form>
            <div class="m-4 mt-2">
              <label for="email-login" class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Email Address" v-model="loginEmail" />
            </div>
            <div class="m-4">
              <label for="password-login" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Password" v-model="loginPassword" />
            </div>
            <div class="m-4">
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-100">Login</button>
              <button type="submit" class="btn btn-warning w-100 ">Register</button>
              </div>
            </div>
            <div class="m-5 text-center">
              <p>OR Login with Google Account</p>
              <button type="submit" class="btn btn-primary">Google Login</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!--End login-->

    <!--Register-->
    <section>
      <div class="row justify-content-center p-5" style="margin-top: 120px;">
        <div class="w-25 border shadow-lg">
          <h1 class="text-center pt-5">Kanban</h1>
          <h4 class="text-center" style="color: rgb(112, 110, 110)"><b>Register</b></h4>
          <form>
            <div class="m-4 mt-2">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" />
            </div>
            <div class="m-4">
              <label for="email-register" class="form-label">Email</label>
              <input type="email" class="form-control" id="email-register" />
            </div>
            <div class="m-4">
              <label for="password-register" class="form-label">Password</label>
              <input type="password" class="form-control" id="password-register" />
            </div>
            <div class="m-4">
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-warning w-100">Register</button>
                <button type="submit" class="btn btn-primary w-100">Login</button>
              </div>
            </div>
            <div class="m-5 text-center">
              <p>OR Login with Google Account</p>
              <button type="submit" class="btn btn-primary">Google Login</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!--End register-->
    <!--Home -->
     <section>
      <nav class="navbar navbar-expand-lg w-100">
        <div class="d-flex justify-content-between w-100 px-2">
          <button class="btn btn-light">Log out</button>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#add-task">
            + Create Task
          </button>
        </div>
      </nav>
    </section>

    <!-- Kanban board-->
    <section>
      <div class="row">
        <div class="my-4 text-center"><h2>Kanban Application</h2></div>
      </div>
      <div class="d-flex justify-content-start" style="margin: 0px 250px 100px; height: 70vh">
        <div class="col-3 category mx-1 overflow-auto p-3">
          <h4 class="text-center">Backlog</h4>
          <!--Card-->
          <div class="card col-12 my-3 shadow-lg rounded">
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <h6 class="card-subtitle my-2 text-muted">by: username</h6>
              <h6 class="card-subtitle my-2 text-muted">last Updated:</h6>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary-outline" data-bs-toggle="modal" data-bs-target="#edit-task-modal"> <i class="fas fa-marker"></i></button>
                <button type="button" class="btn btn-primary-outline"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </div>
          <!--End Card-->
        </div>
        <div class="col-3 category mx-1 overflow-auto p-3">
          <h4 class="text-center">Todo</h4>
          <div class="col-12 p-2"></div>
        </div>
        <div class="col-3 category mx-1 overflow-auto p-3">
          <h4 class="text-center">Doing</h4>
          <div class="col-12 p-2"></div>
        </div>
        <div class="col-3 category mx-1 overflow-auto p-3">
          <h4 class="text-center">Done</h4>
          <div class="col-12 p-2"></div>
        </div>
        <!---->
      </div>
    </section>
    <!-- end kanban board-->
    <!--Modal add-->
    <div class="modal fade" id="add-task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Create Task</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="title-task" class="form-label">Title</label>
                <input type="text" class="form-control" id="title-task">
              </div>
              <div class="mb-3">
                <label for="add-category-task" class="form-label">Category</label>
                <select id="add-category-task" class="form-select" disabled>
                  <option>Backlog</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer m-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!--end modal add-->
    <!--modal edit -->
<div class="modal fade" id="edit-task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Task</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="title-task-edit" class="form-label">Title</label>
            <input type="text" class="form-control" id="title-task-edit">
          </div>
          <div class="mb-3">
            <label for="edit-category-task" class="form-label">Category</label>
            <select id="edit-category-task" class="form-select">
              <option>Backlog</option>
              <option>Todo</option>
              <option>Doing</option>
              <option>Done</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer m-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!--end modal edit-->
<!--End Home-->
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3adeed8aed.js" crossorigin="anonymous"></script>
  </body>
</html>
